$color-black: #212529;
$color-white: #ffffff;

$color-ghost-white: #f8f9fa;
$color-azure: #017bff;
$color-spanish-gray: #909294;
$color-red: #ff0000;

$font-primary: Lato;

$font-family: $font-primary, 'Helvetica', 'Arial', sans-serif;

$light: 300;
$regular: 400;
$bold: 700;

// Breakpoints
$phone-sm: 576px;
$tablet-md: 768px;
$desktop-lg: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1600px;
